# Node.js and Express project
node_modules/
dist/
*.log

# Environment variables
.env

# Mac OS
.DS_Store

# Windows
Thumbs.db

# Editor specific files
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# Dependency lock files
package-lock.json
yarn.lock

# Build output
build/
out/

# Production assets
public/build/
public/uploads/
